body {
	font-family: 'NTR', sans-serif;
	font-size: 2em;
	color:#3d3d5c;
	background-color:#f0f0f5;
}

h2 {
	border-bottom: 2px solid #b3b3cc;
	color:#1f1f2e;
}

.container {
	width:950px;
	margin-top:20px;
	margin-right margin-left:auto;
	background-color:white;
}

.btn-primary, .btn-primary:focus {
background-color:#3d3d5c;
font-color:white;
border:none;
font-size:1.2em;
border-radius:0;
} 

.btn-primary:hover {
  background-color: #93aed2;
}