body {
	background-color:#ffffff;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
  	font-size: 1.6em;
  	line-height: 1.42857143;
  	color: #162259;
  	margin:0;
  	padding:0;
    border:none;
    overflow-x: hidden;
}

a {
	color:#001133;
}

.titlecontainer {
	width:75%;
	max-width:1000px;
	min-width: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

.contentcontainer {
	width:75%;
	max-width:1000px;
	min-width: 300px;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	padding-right: 20px;
	padding-bottom: 75px;
}

.vidcontainer {
	margin-top:5%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.vidcontainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a:hover {
	color:#8aafdb;
	text-decoration: none;
}

h1 {
	color:white;
	text-transform: uppercase;
	font-size:2.5em;
	margin-top:8%;
}

h3 {
	text-decoration:bold;
}


.container {
	width:1024px;
	margin:auto;
	background-color:transparent;
	display:block;
}

.backgroundimg {
margin-top:1100px;
}

.jumbotron {
	height:150%;
}

.headerpic {
	margin-top:-40px;
	margin-left:auto;
	margin-right:auto;
}

.pic {
	margin-left:auto;
	margin-right:auto;
	padding-top:100px;
	position:relative;
}

.navbar {
	background-color: white;
	border:none;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #000033;
}

.navbar-default .navbar-nav>li>a:hover,
.nav > li > a:focus {
  color:#8aafdb;
}

.btn-default {
    background-color: #000033;
    color:white;
}

.bluebackground {
	background-color:#000066;
}

.placefiller {
	width:100%;
	height:50px;
}

.table .table-hover {
	text-align:left;
}


th, td {
    padding: 15px;
    text-align: left;
}
